FORMAT: 1A
HOST: https://apidemo-partner.symphonycommerce.com

# SymphonyCommerce V1 API
REST interface to Symphony Commerce store front.

##### URL pattern  
  All API endpoints are of the form {api_domain}.symphonycommerce.com/org/{site_name}/api/v1/{resource_name}/{resource_id}
  
##### API server  
  + For demo/testing purposes, currently the API server is set up at api_domain **apidemo-partner** (hence accessible at https://apidemo-partner.symphonycommerce.com).  
  + For Production, the API server will be accessible at the api_domain **manage** (hence, accessible at https://manage.symphonycommerce.com)
  
##### Authentication  
  All resources can be accessed using [Basic Authentication](http://en.wikipedia.org/wiki/Basic_access_authentication). The auth information needs to be present as a header in the request.


# Group Product
A Product can be accessed using its `id` on SymphonyCommerce. In the product model diagram below, you can see what entities a product has:  
![Product model](https://s3.amazonaws.com/data-import-backup/api_docs/product_model_diagram.jpg)

### Description of properties in the Product json:
|property |description        |
|---------|-------------------|
|`name`   |name of the product|
|`description`|html description of the product|
|`name`|name of the product|
|`description`|html description of the product |
|`url`|site wide unique url for the product page (important for SEO)|
|`tagline`|tag line of the product|
|`createdAt`|the date the product was created at|
|`updatedAt`|the date the product was last updated|
|`importSource`|string that uniquely identifies the 'source' platform|
|`importRef`|a code that uniquely identifies the product on the 'source' platfrom|
|`displayMedia`|list of media (we currently support images only) associated with the product|
|`weightInOunces`|weight of the product in ounces|
|`publishState`|is the product listed (i.e. published) on the . possible values: 'PUBLISHED', 'NON_PUBLISHED'|
|`useVariantPricing`|boolean field specifying if this product should be using variant pricing as its pricing method; if set to true, the prices of the individual variants will be used on the product page; if set to false, the price of the product object will be used|
|`cost`|cost of the product|
|`msrpInCents`|list price of the product|
|`productPricing`|pricing for different channels; `label` specifies the channel name for which the `price` is set; `availability` specifies if this product is available over the channel|
|`variants`|list of variants in this product (they have the same fields as the product, except `variantAttrs`, which are described below)|

### Description of variant attributes (variantAttrs) in the Variant json:

|property |description        |
|---------|-------------------|
|`keyType`|type of the key; possible values: `GENERIC`, `SIZE`, `COLOR`|
|`key`|the attribute key; this is usually the string that appears in the dropdown on the product page. Here is an [example product page](https://www.campusprotein.com/scivation-xtend)|
|`value`|the value of the attribute key|
|`site`|the site to which this attribute belongs (this will be deprecated in future api versions)|


## Product [/org/{site_name}/api/v1/productcluster/{product_id}]

+ Parameters
    + site_name (required, string, `traveldemo`) ... `site name` to which the Product belongs
    + product_id (required, number, `12345`) ... `productId` of the Product to retrieve.
    
+ Model (application/json)

    JSON representation of Product

    + Body
            
            {
                "id": 12345,
                "seoData": null,
                "title": "LiceLogic Household Lice Protection Spray - Peppermint",
                "tagline": "",
                "facebookShareLink": null,
                "twitterShareLink": null,
                "pinterestShareLink": null,
                "unlist": false,
                "featured": false,
                "terms": null,
                "vanityUrl": "licelogic-household-lice-protection-spray---peppermint/2",
                "shippingCost": null,
                "listPrice": 3229,
                "subscriptionPrice": null,
                "storeId": null,
                "archived": false,
                "importRef": "101740705",
                "importSource": "EXTERNAL-ACME",
                "useVariantPricing": true,
                "type": "SIMPLE",
                "subscribable": false,
                "frequencies": [],
                "productPricings": [
                    {
                        "id": 20712,
                        "price": 0,
                        "purchasingChannel": {
                            "id": 79,
                            "name": "Retail",
                            "description": "Default purchasing channel",
                            "subdomain": "wagento",
                            "retailChannel": true
                        },
                        "availability": "AVAILABLE",
                        "available": true
                    }
                ],
                "memberPriceEntry": {
                    "key": {
                        "id": 61,
                        "name": "Retail",
                        "description": "Default purchasing channel",
                        "subdomain": "partner",
                        "retailChannel": true
                    },
                    "value": null
                },
                "shippingWeight": null,
                "created": 1346172652000,
                "handlingFee": 0,
                "priority": 0,
                "globalSKU": null,
                "associatedProductClusterId": null,
                "stores": [],
                "images": [
                    {
                        "id": 80484,
                        "small": "/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                        "medium": "/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                        "large": "/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                        "distribution": "dbj5iadmj0fg6.cloudfront.net",
                        "ordinal": 1,
                        "width": null,
                        "height": null,
                        "original": null,
                        "primary": true,
                        "altImage": null,
                        "absoluteLarge": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                        "absoluteSmall": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                        "absoluteMedium": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                        "absoluteOriginal": null
                    }
                ],
                "products": [
                    {
                        "id": 103649,
                        "name": "1+",
                        "vendorSKUId": "LPG-793573878021",
                        "customsDescription": "unavailable",
                        "customsValue": 100,
                        "caseQuantity": null,
                        "masterCaseQuantity": null,
                        "packingInstructions": null,
                        "listPrice": 3229,
                        "archived": false,
                        "importRef": "235880847",
                        "importSource": "EXTERNAL-ACME",
                        "uploadIdentifier": null,
                        "estimatedShippingDate": null,
                        "allowBackOrder": false,
                        "allowScheduledOrder": true,
                        "maxBackOrderInventory": 0,
                        "inventoryOnBackOrder": 0,
                        "inventoryAlert": false,
                        "inventoryAlertCount": 0,
                        "inventory": 0,
                        "allowInventoryAudit": true,
                        "countryOfOrigin": "unavailable",
                        "hsTariffNumber": "unavailable",
                        "taxCode": null,
                        "images": [],
                        "barcode": null,
                        "productPricings": [
                            {
                                "id": 20713,
                                "price": 2229,
                                "purchasingChannel": {
                                    "id": 79,
                                    "name": "Retail",
                                    "description": "Default purchasing channel",
                                    "subdomain": "wagento",
                                    "retailChannel": true
                                },
                                "availability": "AVAILABLE",
                                "available": true
                            }
                        ],
                        "attrMap": {},
                        "memberPriceEntry": null,
                        "available": false,
                        "size": null,
                        "image": null,
                        "hasInventory": false,
                        "color": null,
                        "salePrice": 2229,
                        "hasBackOrderLimit": false,
                        "variantAttrs": [],
                        "limitOnBackOrderInventory": 0,
                        "virtualGiftCard": false,
                        "giftCard": false,
                        "hasReachedBackorderLimit": false,
                        "hasOneLeft": false,
                        "hasMultipleLeft": false
                    }
                ],
                "attributes": [],
                "attrSetMap": {},
                "startTime": null,
                "endTime": null,
                "virtual": false,
                "simple": true,
                "url": "/licelogic-household-lice-protection-spray---peppermint/2",
                "image": {
                    "id": 80484,
                    "small": "/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                    "medium": "/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                    "large": "/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                    "distribution": "dbj5iadmj0fg6.cloudfront.net",
                    "ordinal": 1,
                    "width": null,
                    "height": null,
                    "original": null,
                    "primary": true,
                    "altImage": null,
                    "absoluteLarge": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                    "absoluteSmall": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                    "absoluteMedium": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                    "absoluteOriginal": null
                },
                "salePrice": 0,
                "inventory": 0,
                "hasBackOrderLimit": false,
                "kit": false,
                "limitOnBackOrderInventory": 0,
                "minPrice": 2229,
                "maxPrice": 2229,
                "giftCard": false,
                "subscription": false,
                "soldOut": true,
                "compositionAllowBackorder": false,
                "compositionEstShippingDate": null,
                "inventoryAvailable": false,
                "shortTitle": "LiceLogic Househ",
                "tagSetMap": {},
                "pricingMap": {
                    "Retail": {
                        "max": 2229,
                        "min": 2229
                    }
                },
                "hasColorAttributes": false,
                "standardUrl": "/product/166936"
            }


### Retrieve a Product [GET]

+ Request (application/json)

    + Headers
        
            Accept: application/json

+ Response 200

    [Product][]

+ Response 200 (application/json)

        {
            "error": {
                "reason": 403,
                "type": "GENERIC",
                "message": "You are not logged in",
                "id": "56c86c55f43542f9b67ff8fb49fe7574",
                "attrs": {},
                "data": ""
            }
        }


### Remove a Product [DELETE]
+ Request (application/json)

    + Headers
        
            Accept: application/json

+ Response 200

    [Product][]


+ Response 200 (application/json)

        {
            "error": {
                "reason": 403,
                "type": "GENERIC",
                "message": "You are not logged in",
                "id": "56c86c55f43542f9b67ff8fb49fe7574",
                "attrs": {},
                "data": ""
            }
        }


## Product create/update [/org/{site_name}/api/v1/productcluster]
+ Parameters
    + site_name (required, string, `traveldemo`) ... `site name` to which the Product belongs

### Create a Product [POST]
+ Request (application/json)
    All the fields provided in the example request body JSON need to be present in order to create a valid Product on SymphonyCommerce platform.
    
    + Headers
        
            Accept: application/json

    + Body
    
            {
                  "importRef": "58", 
                  "importSource": "EXTERNAL-ACME", 
                  "name": "SciVation - Novem",
                  "description": "<p><strong>What is it:</strong> Scivation Novem provides maximum energy throughout the enterity of your workout using high quality ingredients in their proproetary blend.</p>\n<p><strong>How it works</strong>: Novem\u2019s formula allows for rapid resynthesize, allowing you to increase your workout endurance and outperform your typical gym workout. As an added bonus Novem contains powerful antioxidants.</p>\n<p><strong>Key Ingredient:</strong> <a href=\"http://CampusProtein.com\" target=\"_blank\">Creatine Monohydrate</a></p>\n<p><strong>Use:</strong> 20-30 minutes before a workout in 16 oz. of water.</p>", 
                  "url": "scivation-novem", 
                  "tagLine": "", 
                  "publishState": "PUBLISHED", 
                  "updatedAt": "1971-01-01T00:00:00", 
                  "createdAt": "1971-01-01T00:00:00", 
                  "useVariantPricing": true,
                  "msrpInCents": 4999, 
                  "defaultPriceInCents": 2899, 
                  "cost": 1100.0, 
                  "productPricing": [
                    {
                      "price": 2899, 
                      "availability": "AVAILABLE", 
                      "label": "Retail"
                    }
                  ], 
                  "displayMedia": [
                    {
                      "ordinal": 0, 
                      "type": "IMAGE", 
                      "ref": "http://i.imgur.com/TkXkDjF.jpg",
                      "primary": true,
                      "isExternal": true
                    }
                  ], 
                  "variants": [
                    {
                      "importRef": "123349",
                      "importSource": "EXTERNAL-ACME", 
                      "name": "SciVation - Novem",
                      "description": "", 
                      "vendorSku": "SCI-NMB", 
                      "weightInOunces": 16.0, 
                      "msrpInCents": 2899.0, 
                      "cost": 1200.0, 
                      "productPricing": [
                        {
                          "price": 2899.0, 
                          "availability": "AVAILABLE", 
                          "label": "Retail"
                        }
                      ], 
                      "variantAttrs": [
                        {
                          "keyType": "GENERIC", 
                          "key": "Select a Flavor",
                          "value": "40 Servings - Mixed Berry", 
                          "site": "wagento"
                        }
                      ]
                    },
                    {
                      "importRef": "123350",
                      "importSource": "EXTERNAL-ACME", 
                      "name": "SciVation - Novem",
                      "description": "", 
                      "vendorSku": "SCI-NMAC", 
                      "weightInOunces": 16.0, 
                      "msrpInCents": 2899.0, 
                      "cost": 1200.0, 
                      "productPricing": [
                        {
                          "price": 2899.0, 
                          "availability": "AVAILABLE", 
                          "label": "Retail"
                        }
                      ], 
                      "variantAttrs": [
                        {
                          "keyType": "GENERIC", 
                          "key": "Select a Flavor",
                          "value": "40 Servings - Apple Cinnamon", 
                          "site": "wagento"
                        }
                      ]
                    }, 
                
                    {
                      "importRef": "123351", 
                      "importSource": "EXTERNAL-ACME", 
                      "name": "SciVation - Novem",
                      "description": "", 
                      "vendorSku": "SCI-NMPBJ", 
                      "weightInOunces": 16.0, 
                      "msrpInCents": 2899.0, 
                      "cost": 1200.0, 
                      "productPricing": [
                        {
                          "price": 2499.0, 
                          "availability": "AVAILABLE", 
                          "label": "Retail"
                        }
                      ], 
                      "variantAttrs": [
                        {
                          "keyType": "GENERIC", 
                          "key": "Select a Flavor",
                          "value": "40 Servings - Peanut butter jelly", 
                          "site": "wagento"
                        }
                      ]
                    }
                  ]
            }

+ Response 200

    [Product][]
        
+ Response 200 (application/json)

        {
            "error": {
                "reason": 403,
                "type": "GENERIC",
                "message": "You are not logged in",
                "id": "56c86c55f43542f9b67ff8fb49fe7574",
                "attrs": {},
                "data": ""
            }
        }
        
### Update a Product [POST]
+ Request (application/json)

    The JSON in the request body must have product ids and variant ids.  
    In the provided example, we are updating the description of the Product.

    + Headers
        
            Accept: application/json

    + Body
    
            {
                  "id": 12345,
                  "importRef": "58", 
                  "importSource": "EXTERNAL-ACME", 
                  "name": "SciVation - Novem",
                  "description": "<p><strong>What is it:</strong> AN UPDATED DESCRIPTION, Mr. Bond", 
                  "url": "scivation-novem", 
                  "tagLine": "", 
                  "publishState": "PUBLISHED", 
                  "updatedAt": "1971-01-01T00:00:00", 
                  "createdAt": "1971-01-01T00:00:00", 
                  "useVariantPricing": true,
                  "msrpInCents": 4999, 
                  "defaultPriceInCents": 2899, 
                  "cost": 1100.0, 
                  "productPricing": [
                    {
                      "price": 2899, 
                      "availability": "AVAILABLE", 
                      "label": "Retail"
                    }
                  ], 
                  "displayMedia": [
                    {
                      "ordinal": 0, 
                      "type": "IMAGE", 
                      "ref": "http://i.imgur.com/TkXkDjF.jpg",
                      "primary": true,
                      "isExternal": true
                    }
                  ], 
                  "variants": [
                    {
                      "id": 60001,
                      "importRef": "123349",
                      "importSource": "EXTERNAL-ACME", 
                      "name": "SciVation - Novem",
                      "description": "", 
                      "vendorSku": "SCI-NMB", 
                      "weightInOunces": 16.0, 
                      "msrpInCents": 2899.0, 
                      "cost": 1200.0, 
                      "productPricing": [
                        {
                          "price": 2899.0, 
                          "availability": "AVAILABLE", 
                          "label": "Retail"
                        }
                      ], 
                      "variantAttrs": [
                        {
                          "keyType": "GENERIC", 
                          "key": "Select a Flavor",
                          "value": "40 Servings - Mixed Berry", 
                          "site": "wagento"
                        }
                      ]
                    },
                    {
                      "id": 60002,
                      "importRef": "123350",
                      "importSource": "EXTERNAL-ACME", 
                      "name": "SciVation - Novem",
                      "description": "", 
                      "vendorSku": "SCI-NMAC", 
                      "weightInOunces": 16.0, 
                      "msrpInCents": 2899.0, 
                      "cost": 1200.0, 
                      "productPricing": [
                        {
                          "price": 2899.0, 
                          "availability": "AVAILABLE", 
                          "label": "Retail"
                        }
                      ], 
                      "variantAttrs": [
                        {
                          "keyType": "GENERIC", 
                          "key": "Select a Flavor",
                          "value": "40 Servings - Apple Cinnamon", 
                          "site": "wagento"
                        }
                      ]
                    }, 
                
                    {
                      "id": 60003,
                      "importRef": "123351", 
                      "importSource": "EXTERNAL-ACME", 
                      "name": "SciVation - Novem",
                      "description": "", 
                      "vendorSku": "SCI-NMPBJ", 
                      "weightInOunces": 16.0, 
                      "msrpInCents": 2899.0, 
                      "cost": 1200.0, 
                      "productPricing": [
                        {
                          "price": 2499.0, 
                          "availability": "AVAILABLE", 
                          "label": "Retail"
                        }
                      ], 
                      "variantAttrs": [
                        {
                          "keyType": "GENERIC", 
                          "key": "Select a Flavor",
                          "value": "40 Servings - Peanut butter jelly", 
                          "site": "wagento"
                        }
                      ]
                    }
                  ]
            }

+ Response 200

    [Product][]

+ Response 200 (application/json)

        {
            "error": {
                "reason": 403,
                "type": "GENERIC",
                "message": "You are not logged in",
                "id": "56c86c55f43542f9b67ff8fb49fe7574",
                "attrs": {},
                "data": ""
            }
        }


# Group Product Inventory

## Inventory count of a Variant [/org/{site_name}/api/v1/inventory/{variant_id}]
Returns a json of the variant with its inventory count.
For example, in the response body, `data['inventory']` is the inventory count of the variant

+ Parameters
    + site_name (required, string, `traveldemo`) ... `site name` to which the Product belongs
    + variant_id (required, number, `76299`) ... id of the Variant to retrieve.

### Retrieve the inventory count of a single variant [GET]
+ Request

    + Headers

            Accept: application/json
            
+ Response 200

        {
            "data": {
                "createdAt": null,
                "updatedAt": null,
                "id": 76299,
                "importSource": "EXTERNAL-WAGENTO",
                "importRef": "1037",
                "name": "Triumph Bonneville",
                "vendorSKUId": "bonneville",
                "globalSKU": "P76299",
                "inventory": 0,
                "inventoryOnHold": 0,
                "isDropShip": true,
                "vendorId": 1891,
                "attributes": {},
                "allowBackOrder": false,
                "allowScheduledOrder": true,
                "maxBackOrderInventory": 0,
                "inventoryOnBackOrder": 0,
                "estimatedShippingDate": null,
                "productClusterType": "SIMPLE",
                "archived": false,
                "vendorProductId": 167119,
                "vendorProductName": "Triumph Bonneville",
                "predictionPercentage": 0,
                "isAlert": false,
                "alertCount": 0,
                "countryOfOrigin": "unavailable",
                "hsTariffNumber": "unavailable",
                "customsValueInUSDCents": 100,
                "isUnlimitedBackOrder": false,
                "customsDescription": "unavailable",
                "shippingWeight": 0,
                "taxCode": null,
                "barcode": null
            }
        }
            
## Product Inventory List [/org/{site_name}/api/v1/inventory?limit={limit}&offset={offset}&q=&sort=sortName&sortAsc=true]
Returns a list of products with variants and their inventories inside the json. 
For example, in the response body, `results[0]['content']['id']` is the product id of the first product in the list.
Diving deeper, `results[0]['content']['variants'][0]['id']` gives the first variants' id of the first product 
and `results[0]['content']['variants'][0]['inventory']` gives the inventory count of that variant.

+ Parameters
    + site_name (required, string, `traveldemo`) ... `site name` to which the Product belongs
    + limit (required, number, `50`) ... number of Products to retrieve.
    + offset (required, number, `0`) ... `offset` count
    

### Get a list of products with their variants and inventories [GET]
+ Request (application/json)

    + Headers
        
            Accept: application/json

+ Response 200


        {
            "results": [
                {
                    "content": {
                        "createdAt": null,
                        "updatedAt": null,
                        "id": 167277,
                        "importSource": null,
                        "importRef": null,
                        "name": "wersadfsa-Black-20",
                        "variants": [
                            {
                                "createdAt": null,
                                "updatedAt": null,
                                "id": 103681,
                                "importSource": "EXTERNAL-WAGENTO",
                                "importRef": "1041",
                                "name": "wersadfsa-Black-20",
                                "vendorSKUId": "werwesdf-Black-20",
                                "globalSKU": "P103681",
                                "inventory": 0,
                                "inventoryOnHold": 0,
                                "isDropShip": false,
                                "vendorId": 1895,
                                "attributes": {},
                                "allowBackOrder": false,
                                "allowScheduledOrder": true,
                                "maxBackOrderInventory": 0,
                                "inventoryOnBackOrder": 0,
                                "estimatedShippingDate": null,
                                "productClusterType": "SIMPLE",
                                "archived": false,
                                "vendorProductId": 167277,
                                "vendorProductName": "wersadfsa-Black-20",
                                "predictionPercentage": 0,
                                "isAlert": false,
                                "alertCount": 0,
                                "countryOfOrigin": "unavailable",
                                "hsTariffNumber": "unavailable",
                                "customsValueInUSDCents": 100,
                                "isUnlimitedBackOrder": false,
                                "customsDescription": "unavailable",
                                "shippingWeight": 0,
                                "taxCode": null,
                                "barcode": null
                            }
                        ]
                    },
                    "highlights": null
                },
                {
                    "content": {
                        "createdAt": null,
                        "updatedAt": null,
                        "id": 167276,
                        "importSource": null,
                        "importRef": null,
                        "name": "wersadfsa-Black-10",
                        "variants": [
                            {
                                "createdAt": null,
                                "updatedAt": null,
                                "id": 103680,
                                "importSource": "EXTERNAL-WAGENTO",
                                "importRef": "1040",
                                "name": "wersadfsa-Black-10",
                                "vendorSKUId": "werwesdf-Black-10",
                                "globalSKU": "P103680",
                                "inventory": 0,
                                "inventoryOnHold": 0,
                                "isDropShip": false,
                                "vendorId": 1895,
                                "attributes": {},
                                "allowBackOrder": false,
                                "allowScheduledOrder": true,
                                "maxBackOrderInventory": 0,
                                "inventoryOnBackOrder": 0,
                                "estimatedShippingDate": null,
                                "productClusterType": "SIMPLE",
                                "archived": false,
                                "vendorProductId": 167276,
                                "vendorProductName": "wersadfsa-Black-10",
                                "predictionPercentage": 0,
                                "isAlert": false,
                                "alertCount": 0,
                                "countryOfOrigin": "unavailable",
                                "hsTariffNumber": "unavailable",
                                "customsValueInUSDCents": 100,
                                "isUnlimitedBackOrder": false,
                                "customsDescription": "unavailable",
                                "shippingWeight": 0,
                                "taxCode": null,
                                "barcode": null
                            }
                        ]
                    },
                    "highlights": null
                    }
            ],
            "size": 0,
            "totalHits": 56,
            "scrollId": null
        }


+ Response 200 (application/json)

        {
            "error": {
                "reason": 403,
                "type": "GENERIC",
                "message": "You are not logged in",
                "id": "56c86c55f43542f9b67ff8fb49fe7574",
                "attrs": {},
                "data": ""
            }
        }


# Group Order
Order resources

_Order model_:  
![Order model](https://s3.amazonaws.com/data-import-backup/api_docs/order_model_diagram.jpg)


## Order [/org/{site_name}/api/v1/order/{order_id}]
A single Order with all its details (including line items and their description)

+ Parameters
    + order_id (required, number, `222222`) ... Numeric `orderId` of the Order to retrieve. Has example value.
    + site_name (required, string, `traveldemo`) ... `site name` to which the Order belongs
    
+ Model (application/json)

    JSON representation of an Order
    
    + Headers
        
            Accept: application/json
    
    + Body
    
            {
                "data": {
                    "id": 222222,
                    "createdAt": 1379733597000,
                    "updatedAt": null,
                    "importSource": "EXTERNAL-ACME",
                    "importRef": "184084279",
                    "originalCart": {
                        "createdAt": 1379733597000,
                        "updatedAt": null,
                        "id": 1301249,
                        "importSource": null,
                        "importRef": null,
                        "lineItems": [
                            {
                                "createdAt": 1417291748000,
                                "updatedAt": 1417291748000,
                                "id": 1778092,
                                "importSource": null,
                                "importRef": null,
                                "product": {
                                    "createdAt": 1346172652000,
                                    "updatedAt": null,
                                    "id": 12345,
                                    "importSource": "EXTERNAL-ACME",
                                    "importRef": "101740705",
                                    "name": "LiceLogic Household Lice Protection Spray - Peppermint",
                                    "code": null,
                                    "defaultPriceInCents": 0,
                                    "specializedPriceInCents": null,
                                    "msrpInCents": 3229,
                                    "subscriptionPrice": null,
                                    "ordinal": 0,
                                    "tagLine": "",
                                    "mainImage": {
                                        "createdAt": null,
                                        "updatedAt": null,
                                        "id": 80492,
                                        "importSource": null,
                                        "importRef": null,
                                        "type": "IMAGE",
                                        "ref": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                                        "ordinal": 1,
                                        "primary": true,
                                        "meta": [
                                            {
                                                "createdAt": null,
                                                "updatedAt": null,
                                                "id": null,
                                                "importSource": null,
                                                "importRef": null,
                                                "key": "medium",
                                                "value": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                                                "displayValue": null,
                                                "keyType": "IMAGE_SIZE",
                                                "keyDescription": "location of medium sized image",
                                                "site": null,
                                                "priority": null
                                            },
                                            {
                                                "createdAt": null,
                                                "updatedAt": null,
                                                "id": null,
                                                "importSource": null,
                                                "importRef": null,
                                                "key": "large",
                                                "value": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                                                "displayValue": null,
                                                "keyType": "IMAGE_SIZE",
                                                "keyDescription": "location of large sized image",
                                                "site": null,
                                                "priority": null
                                            }
                                        ],
                                        "dimension": null,
                                        "isExternal": null
                                    },
                                    "vendorSku": null,
                                    "globalSku": null,
                                    "cost": 2000,
                                    "maxPrice": 2229,
                                    "minPrice": 2229,
                                    "shippingOptions": null,
                                    "productPricing": [
                                        {
                                            "label": "Retail",
                                            "price": 0,
                                            "availability": "AVAILABLE"
                                        }
                                    ],
                                    "description": "<div id=\"tab-0\" class=\"jstab test\">\n<h3>Product</h3>\n<h6>Natural All-Surface Lice Spray for Your Home. </h6>\nOur non-toxic lice spray helps protect your home and belongings from lice and nits, preventing lice infestations naturally and safely. Our natural plant-based enzyme home lice spray kills lice and nits on contact and is safe to apply on any surface that may have come into contact with lice, or has the potential to do so. LiceLogic Household Lice Protection Spray is safe for daily use and can be used as often as needed, is non-staining and does not leave a toxic residue. LiceLogic Household Lice Protection Spray is a <a href=\"http://www.tnpc.com/search/tnpcarticle2.asp?rec=7385\" target=\"_blank\">Winner of the The National Parenting Center 2012 Seal of Approval </a>and does not contain pesticides, parabens, DEA, PEG, artificial colors or fragrances. All LiceLogic natural lice treatment and prevention products are biodegradable and never tested on animals and are proudly made in the U.S.A. Available in Peppermint scent. 32 fl. oz.</div>\n<div id=\"tab-1\" class=\"jstab test\">\n<h3>Directions</h3>\n<h6>Natural HeadLice Protection Spray</h6>\nSpray our pesticide free lice spray on any surface that may have come into contact with lice and nits. LiceLogic Household Lice Prevention and Treatment Spray can be used on everything from beds, bed frames, furniture, mattresses, backpacks, helmets, carpets, counters, hairbrushes, hair accessories, and all other surfaces. Spray affected areas frequently until entire lice infestation is gone. To learn the best methods to protect against headlice and nits and how to get rid of lice infestation safely and naturally in your home please visit our <a href=\"/pages/important-lice-facts-you-need-to-know\">Learn about Lice</a> section for helpful and informative instructions and tips from our lice expert.</div>\n<div id=\"tab-2\" class=\"jstab test\">\n<h3>Use &amp; Ingredients</h3>\n<h6>Pesticide Free &amp; Safe Lice Products</h6>\nLiceLogic Househol",
                                    "productTabs": null,
                                    "displayMedia": [
                                        {
                                            "createdAt": null,
                                            "updatedAt": null,
                                            "id": 80492,
                                            "importSource": null,
                                            "importRef": null,
                                            "type": "IMAGE",
                                            "ref": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                                            "ordinal": 1,
                                            "primary": true,
                                            "meta": [
                                                {
                                                    "createdAt": null,
                                                    "updatedAt": null,
                                                    "id": null,
                                                    "importSource": null,
                                                    "importRef": null,
                                                    "key": "medium",
                                                    "value": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                                                    "displayValue": null,
                                                    "keyType": "IMAGE_SIZE",
                                                    "keyDescription": "location of medium sized image",
                                                    "site": null,
                                                    "priority": null
                                                },
                                                {
                                                    "createdAt": null,
                                                    "updatedAt": null,
                                                    "id": null,
                                                    "importSource": null,
                                                    "importRef": null,
                                                    "key": "large",
                                                    "value": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                                                    "displayValue": null,
                                                    "keyType": "IMAGE_SIZE",
                                                    "keyDescription": "location of large sized image",
                                                    "site": null,
                                                    "priority": null
                                                }
                                            ],
                                            "dimension": null,
                                            "isExternal": null
                                        }
                                    ],
                                    "publishState": "PUBLISHED",
                                    "availabilityState": "UNAVAILABLE",
                                    "allowScheduledOrder": null,
                                    "returnPolicyType": "REFUNDABLE",
                                    "productStats": {
                                        "productId": null,
                                        "quantityAvailable": 0,
                                        "quantityBackordered": null,
                                        "backOrderEta": null,
                                        "quantityWithheld": null,
                                        "quantityLimit": null,
                                        "percentagePrediction": null
                                    },
                                    "primaryMeta": null,
                                    "variantAttrs": null,
                                    "tags": [],
                                    "attributes": null,
                                    "widthInches": null,
                                    "lengthInches": null,
                                    "heightInches": null,
                                    "weightInOunces": null,
                                    "metaMap": null,
                                    "color": null,
                                    "size": null,
                                    "customsDescription": null,
                                    "countryOfOrigin": null,
                                    "hsTariffNumber": null,
                                    "barcode": null,
                                    "taxCode": null,
                                    "pcId": null,
                                    "url": "/licelogic-household-lice-protection-spray---peppermint/4",
                                    "site": "wagento",
                                    "type": "SIMPLE",
                                    "composition": [],
                                    "frequencies": [],
                                    "subscribable": false,
                                    "useVariantPricing": true,
                                    "vanityUrl": "licelogic-household-lice-protection-spray---peppermint/4",
                                    "archived": false,
                                    "sevData": {
                                        "tags": null,
                                        "pageTitle": null,
                                        "extraInfo": null
                                    },
                                    "vendorId": null,
                                    "vendorName": null,
                                    "variants": [],
                                    "associatedProductClusterId": null,
                                    "vertical": null,
                                    "category": null,
                                    "subcategory": null,
                                    "terms": null,
                                    "brand": null,
                                    "categories": [],
                                    "categoryIds": []
                                },
                                "variant": {
                                    "createdAt": 1417291101000,
                                    "updatedAt": null,
                                    "id": 103659,
                                    "importSource": "EXTERNAL-ACME",
                                    "importRef": "235880847",
                                    "name": "1+",
                                    "code": "P103659",
                                    "defaultPriceInCents": 2229,
                                    "specializedPriceInCents": null,
                                    "msrpInCents": 3229,
                                    "subscriptionPrice": null,
                                    "ordinal": 0,
                                    "tagLine": null,
                                    "mainImage": null,
                                    "vendorSku": "LPG-793573878021",
                                    "globalSku": "P103659",
                                    "cost": 2000,
                                    "maxPrice": null,
                                    "minPrice": null,
                                    "shippingOptions": null,
                                    "productPricing": [
                                        {
                                            "label": "Retail",
                                            "price": 2229,
                                            "availability": "AVAILABLE"
                                        }
                                    ],
                                    "description": "<div id=\"tab-0\" class=\"jstab test\">\n<h3>Product</h3>\n<h6>Natural All-Surface Lice Spray for Your Home. </h6>\nOur non-toxic lice spray helps protect your home and belongings from lice and nits, preventing lice infestations naturally and safely. Our natural plant-based enzyme home lice spray kills lice and nits on contact and is safe to apply on any surface that may have come into contact with lice, or has the potential to do so. LiceLogic Household Lice Protection Spray is safe for daily use and can be used as often as needed, is non-staining and does not leave a toxic residue. LiceLogic Household Lice Protection Spray is a <a href=\"http://www.tnpc.com/search/tnpcarticle2.asp?rec=7385\" target=\"_blank\">Winner of the The National Parenting Center 2012 Seal of Approval </a>and does not contain pesticides, parabens, DEA, PEG, artificial colors or fragrances. All LiceLogic natural lice treatment and prevention products are biodegradable and never tested on animals and are proudly made in the U.S.A. Available in Peppermint scent. 32 fl. oz.</div>\n<div id=\"tab-1\" class=\"jstab test\">\n<h3>Directions</h3>\n<h6>Natural HeadLice Protection Spray</h6>\nSpray our pesticide free lice spray on any surface that may have come into contact with lice and nits. LiceLogic Household Lice Prevention and Treatment Spray can be used on everything from beds, bed frames, furniture, mattresses, backpacks, helmets, carpets, counters, hairbrushes, hair accessories, and all other surfaces. Spray affected areas frequently until entire lice infestation is gone. To learn the best methods to protect against headlice and nits and how to get rid of lice infestation safely and naturally in your home please visit our <a href=\"/pages/important-lice-facts-you-need-to-know\">Learn about Lice</a> section for helpful and informative instructions and tips from our lice expert.</div>\n<div id=\"tab-2\" class=\"jstab test\">\n<h3>Use &amp; Ingredients</h3>\n<h6>Pesticide Free &amp; Safe Lice Products</h6>\nLiceLogic Househol",
                                    "productTabs": null,
                                    "displayMedia": [],
                                    "publishState": "PUBLISHED",
                                    "availabilityState": "SOLD_OUT",
                                    "allowScheduledOrder": true,
                                    "returnPolicyType": "REFUNDABLE",
                                    "productStats": {
                                        "productId": null,
                                        "quantityAvailable": 0,
                                        "quantityBackordered": null,
                                        "backOrderEta": null,
                                        "quantityWithheld": 0,
                                        "quantityLimit": 0,
                                        "percentagePrediction": null
                                    },
                                    "primaryMeta": null,
                                    "variantAttrs": [],
                                    "tags": [],
                                    "attributes": [],
                                    "widthInches": null,
                                    "lengthInches": null,
                                    "heightInches": null,
                                    "weightInOunces": 0,
                                    "metaMap": {},
                                    "color": null,
                                    "size": null,
                                    "customsDescription": "unavailable",
                                    "countryOfOrigin": "unavailable",
                                    "hsTariffNumber": "unavailable",
                                    "barcode": null,
                                    "taxCode": null,
                                    "pcId": 12345
                                },
                                "metaMap": {},
                                "quantity": 1,
                                "memberPrice": 0,
                                "memberPricePerUnit": 0,
                                "customsValuePerUnit": 0,
                                "type": "SIMPLE",
                                "subscriptionStatus": null,
                                "subscriptionId": null,
                                "productSku": "P103659",
                                "frequency": null,
                                "giftCardReceiversEmail": "",
                                "trackingUrl": null,
                                "fulfillmentStatus": "PENDING",
                                "friendlyFulfillmentStatus": "Pending",
                                "discount": 0,
                                "allowBackorder": false,
                                "inventory": 0,
                                "mainImage": {
                                    "createdAt": null,
                                    "updatedAt": null,
                                    "id": 80492,
                                    "importSource": null,
                                    "importRef": null,
                                    "type": "IMAGE",
                                    "ref": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                                    "ordinal": 1,
                                    "primary": true,
                                    "meta": [
                                        {
                                            "createdAt": null,
                                            "updatedAt": null,
                                            "id": null,
                                            "importSource": null,
                                            "importRef": null,
                                            "key": "medium",
                                            "value": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                                            "displayValue": null,
                                            "keyType": "IMAGE_SIZE",
                                            "keyDescription": "location of medium sized image",
                                            "site": null,
                                            "priority": null
                                        },
                                        {
                                            "createdAt": null,
                                            "updatedAt": null,
                                            "id": null,
                                            "importSource": null,
                                            "importRef": null,
                                            "key": "large",
                                            "value": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                                            "displayValue": null,
                                            "keyType": "IMAGE_SIZE",
                                            "keyDescription": "location of large sized image",
                                            "site": null,
                                            "priority": null
                                        }
                                    ],
                                    "dimension": null,
                                    "isExternal": null
                                },
                                "estimatedShippingDate": null,
                                "unavailableUnits": 1,
                                "subscribable": false,
                                "giftCardType": false,
                                "virtualGiftCard": false,
                                "giftCardMessage": "",
                                "quantityCannotFulfill": 0,
                                "total": 0,
                                "backOrderLimit": 0,
                                "hasBackOrderLimit": false,
                                "shippingWindowEndDate": null,
                                "shippingWindowStartDate": null,
                                "totalWithoutDiscount": 0,
                                "savingsSubscriptionPercentage": "",
                                "canUpgradeToSubscription": false,
                                "displayItem": true,
                                "priceWithoutDiscount": 0
                            },
                            {
                                "createdAt": 1417291748000,
                                "updatedAt": 1417291748000,
                                "id": 1778093,
                                "importSource": null,
                                "importRef": null,
                                "product": {
                                    "createdAt": 1352987650000,
                                    "updatedAt": null,
                                    "id": 166942,
                                    "importSource": "EXTERNAL-ACME",
                                    "importRef": "111346180",
                                    "name": "FREE TotLogic Body Lotion Sample",
                                    "code": null,
                                    "defaultPriceInCents": 0,
                                    "specializedPriceInCents": null,
                                    "msrpInCents": 200,
                                    "subscriptionPrice": null,
                                    "ordinal": 0,
                                    "tagLine": "",
                                    "mainImage": {
                                        "createdAt": null,
                                        "updatedAt": null,
                                        "id": 80493,
                                        "importSource": null,
                                        "importRef": null,
                                        "type": "IMAGE",
                                        "ref": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/TotLogic_Lotion_Sample.jpg",
                                        "ordinal": 1,
                                        "primary": true,
                                        "meta": [
                                            {
                                                "createdAt": null,
                                                "updatedAt": null,
                                                "id": null,
                                                "importSource": null,
                                                "importRef": null,
                                                "key": "medium",
                                                "value": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/TotLogic_Lotion_Sample.jpg",
                                                "displayValue": null,
                                                "keyType": "IMAGE_SIZE",
                                                "keyDescription": "location of medium sized image",
                                                "site": null,
                                                "priority": null
                                            },
                                            {
                                                "createdAt": null,
                                                "updatedAt": null,
                                                "id": null,
                                                "importSource": null,
                                                "importRef": null,
                                                "key": "large",
                                                "value": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/TotLogic_Lotion_Sample.jpg",
                                                "displayValue": null,
                                                "keyType": "IMAGE_SIZE",
                                                "keyDescription": "location of large sized image",
                                                "site": null,
                                                "priority": null
                                            }
                                        ],
                                        "dimension": null,
                                        "isExternal": null
                                    },
                                    "vendorSku": null,
                                    "globalSku": null,
                                    "cost": 100,
                                    "maxPrice": 0,
                                    "minPrice": 0,
                                    "shippingOptions": null,
                                    "productPricing": [
                                        {
                                            "label": "Retail",
                                            "price": 0,
                                            "availability": "AVAILABLE"
                                        }
                                    ],
                                    "description": "<p>Free when you pay for shipping, TotLogic Body Lotion for Babies Sample. Free baby lotion sample, all you do is pay for shipping.</p>",
                                    "productTabs": null,
                                    "displayMedia": [
                                        {
                                            "createdAt": null,
                                            "updatedAt": null,
                                            "id": 80493,
                                            "importSource": null,
                                            "importRef": null,
                                            "type": "IMAGE",
                                            "ref": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/TotLogic_Lotion_Sample.jpg",
                                            "ordinal": 1,
                                            "primary": true,
                                            "meta": [
                                                {
                                                    "createdAt": null,
                                                    "updatedAt": null,
                                                    "id": null,
                                                    "importSource": null,
                                                    "importRef": null,
                                                    "key": "medium",
                                                    "value": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/TotLogic_Lotion_Sample.jpg",
                                                    "displayValue": null,
                                                    "keyType": "IMAGE_SIZE",
                                                    "keyDescription": "location of medium sized image",
                                                    "site": null,
                                                    "priority": null
                                                },
                                                {
                                                    "createdAt": null,
                                                    "updatedAt": null,
                                                    "id": null,
                                                    "importSource": null,
                                                    "importRef": null,
                                                    "key": "large",
                                                    "value": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/TotLogic_Lotion_Sample.jpg",
                                                    "displayValue": null,
                                                    "keyType": "IMAGE_SIZE",
                                                    "keyDescription": "location of large sized image",
                                                    "site": null,
                                                    "priority": null
                                                }
                                            ],
                                            "dimension": null,
                                            "isExternal": null
                                        }
                                    ],
                                    "publishState": "NON_PUBLISHED",
                                    "availabilityState": "UNAVAILABLE",
                                    "allowScheduledOrder": null,
                                    "returnPolicyType": "REFUNDABLE",
                                    "productStats": {
                                        "productId": null,
                                        "quantityAvailable": 0,
                                        "quantityBackordered": null,
                                        "backOrderEta": null,
                                        "quantityWithheld": null,
                                        "quantityLimit": null,
                                        "percentagePrediction": null
                                    },
                                    "primaryMeta": null,
                                    "variantAttrs": null,
                                    "tags": [],
                                    "attributes": null,
                                    "widthInches": null,
                                    "lengthInches": null,
                                    "heightInches": null,
                                    "weightInOunces": null,
                                    "metaMap": null,
                                    "color": null,
                                    "size": null,
                                    "customsDescription": null,
                                    "countryOfOrigin": null,
                                    "hsTariffNumber": null,
                                    "barcode": null,
                                    "taxCode": null,
                                    "pcId": null,
                                    "url": "/free-totlogic-body-lotion-sample/1",
                                    "site": "wagento",
                                    "type": "SIMPLE",
                                    "composition": [],
                                    "frequencies": [],
                                    "subscribable": false,
                                    "useVariantPricing": true,
                                    "vanityUrl": "free-totlogic-body-lotion-sample/1",
                                    "archived": false,
                                    "sevData": {
                                        "tags": null,
                                        "pageTitle": null,
                                        "extraInfo": null
                                    },
                                    "vendorId": null,
                                    "vendorName": null,
                                    "variants": [],
                                    "associatedProductClusterId": null,
                                    "vertical": null,
                                    "category": null,
                                    "subcategory": null,
                                    "terms": null,
                                    "brand": null,
                                    "categories": [],
                                    "categoryIds": []
                                },
                                "variant": {
                                    "createdAt": 1417291102000,
                                    "updatedAt": null,
                                    "id": 103660,
                                    "importSource": "EXTERNAL-ACME",
                                    "importRef": "254451364",
                                    "name": "1+",
                                    "code": "P103660",
                                    "defaultPriceInCents": 0,
                                    "specializedPriceInCents": null,
                                    "msrpInCents": 200,
                                    "subscriptionPrice": null,
                                    "ordinal": 0,
                                    "tagLine": null,
                                    "mainImage": null,
                                    "vendorSku": "LPG-TLBLSMPL",
                                    "globalSku": "P103660",
                                    "cost": 100,
                                    "maxPrice": null,
                                    "minPrice": null,
                                    "shippingOptions": null,
                                    "productPricing": [
                                        {
                                            "label": "Retail",
                                            "price": 0,
                                            "availability": "AVAILABLE"
                                        }
                                    ],
                                    "description": "<p>Free when you pay for shipping, TotLogic Body Lotion for Babies Sample. Free baby lotion sample, all you do is pay for shipping.</p>",
                                    "productTabs": null,
                                    "displayMedia": [
                                        {
                                            "createdAt": null,
                                            "updatedAt": null,
                                            "id": 80494,
                                            "importSource": null,
                                            "importRef": null,
                                            "type": "IMAGE",
                                            "ref": "//dbj5iadmj0fg6.cloudfront.net/externalImport/i.imgur.com/6IvNElJ.jpg",
                                            "ordinal": null,
                                            "primary": false,
                                            "meta": [
                                                {
                                                    "createdAt": null,
                                                    "updatedAt": null,
                                                    "id": null,
                                                    "importSource": null,
                                                    "importRef": null,
                                                    "key": "medium",
                                                    "value": "//dbj5iadmj0fg6.cloudfront.net/externalImport/i.imgur.com/6IvNElJ.jpg",
                                                    "displayValue": null,
                                                    "keyType": "IMAGE_SIZE",
                                                    "keyDescription": "location of medium sized image",
                                                    "site": null,
                                                    "priority": null
                                                },
                                                {
                                                    "createdAt": null,
                                                    "updatedAt": null,
                                                    "id": null,
                                                    "importSource": null,
                                                    "importRef": null,
                                                    "key": "large",
                                                    "value": "//dbj5iadmj0fg6.cloudfront.net/externalImport/i.imgur.com/6IvNElJ.jpg",
                                                    "displayValue": null,
                                                    "keyType": "IMAGE_SIZE",
                                                    "keyDescription": "location of large sized image",
                                                    "site": null,
                                                    "priority": null
                                                }
                                            ],
                                            "dimension": null,
                                            "isExternal": null
                                        }
                                    ],
                                    "publishState": "NON_PUBLISHED",
                                    "availabilityState": "SOLD_OUT",
                                    "allowScheduledOrder": true,
                                    "returnPolicyType": "REFUNDABLE",
                                    "productStats": {
                                        "productId": null,
                                        "quantityAvailable": 0,
                                        "quantityBackordered": null,
                                        "backOrderEta": null,
                                        "quantityWithheld": 0,
                                        "quantityLimit": 0,
                                        "percentagePrediction": null
                                    },
                                    "primaryMeta": null,
                                    "variantAttrs": [],
                                    "tags": [],
                                    "attributes": [],
                                    "widthInches": null,
                                    "lengthInches": null,
                                    "heightInches": null,
                                    "weightInOunces": 0,
                                    "metaMap": {},
                                    "color": null,
                                    "size": null,
                                    "customsDescription": "unavailable",
                                    "countryOfOrigin": "unavailable",
                                    "hsTariffNumber": "unavailable",
                                    "barcode": null,
                                    "taxCode": null,
                                    "pcId": 166942
                                },
                                "metaMap": {},
                                "quantity": 2,
                                "memberPrice": 0,
                                "memberPricePerUnit": 0,
                                "customsValuePerUnit": 0,
                                "type": "SIMPLE",
                                "subscriptionStatus": null,
                                "subscriptionId": null,
                                "productSku": "P103660",
                                "frequency": null,
                                "giftCardReceiversEmail": "",
                                "trackingUrl": null,
                                "fulfillmentStatus": "PENDING",
                                "friendlyFulfillmentStatus": "Pending",
                                "discount": 0,
                                "allowBackorder": false,
                                "inventory": 0,
                                "mainImage": {
                                    "createdAt": null,
                                    "updatedAt": null,
                                    "id": 80493,
                                    "importSource": null,
                                    "importRef": null,
                                    "type": "IMAGE",
                                    "ref": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/TotLogic_Lotion_Sample.jpg",
                                    "ordinal": 1,
                                    "primary": true,
                                    "meta": [
                                        {
                                            "createdAt": null,
                                            "updatedAt": null,
                                            "id": null,
                                            "importSource": null,
                                            "importRef": null,
                                            "key": "medium",
                                            "value": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/TotLogic_Lotion_Sample.jpg",
                                            "displayValue": null,
                                            "keyType": "IMAGE_SIZE",
                                            "keyDescription": "location of medium sized image",
                                            "site": null,
                                            "priority": null
                                        },
                                        {
                                            "createdAt": null,
                                            "updatedAt": null,
                                            "id": null,
                                            "importSource": null,
                                            "importRef": null,
                                            "key": "large",
                                            "value": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/TotLogic_Lotion_Sample.jpg",
                                            "displayValue": null,
                                            "keyType": "IMAGE_SIZE",
                                            "keyDescription": "location of large sized image",
                                            "site": null,
                                            "priority": null
                                        }
                                    ],
                                    "dimension": null,
                                    "isExternal": null
                                },
                                "estimatedShippingDate": null,
                                "unavailableUnits": 2,
                                "subscribable": false,
                                "giftCardType": false,
                                "virtualGiftCard": false,
                                "giftCardMessage": "",
                                "quantityCannotFulfill": 0,
                                "total": 0,
                                "backOrderLimit": 0,
                                "hasBackOrderLimit": false,
                                "shippingWindowEndDate": null,
                                "shippingWindowStartDate": null,
                                "totalWithoutDiscount": 0,
                                "savingsSubscriptionPercentage": "",
                                "canUpgradeToSubscription": false,
                                "displayItem": true,
                                "priceWithoutDiscount": 0
                            }
                        ],
                        "site": null,
                        "actions": null,
                        "customer": {
                            "createdAt": 1417291748000,
                            "updatedAt": 1417291748000,
                            "id": 1559287,
                            "importSource": null,
                            "importRef": null,
                            "email": "fahad@symphonycommerce.com",
                            "firstName": null,
                            "lastName": null,
                            "displayName": null,
                            "company": null,
                            "verified": null,
                            "status": "IMPORTED",
                            "siteCode": "wagento",
                            "phone": null,
                            "credits": null,
                            "unsubscribed": true,
                            "wholesalerInfo": null,
                            "eligibleForDiscountedPricing": false,
                            "customerUsageType": null,
                            "purchasingChannel": {
                                "createdAt": null,
                                "updatedAt": null,
                                "id": null,
                                "importSource": null,
                                "importRef": null,
                                "name": "Retail",
                                "description": "Default purchasing channel"
                            },
                            "stats": null,
                            "meta": null,
                            "note": null,
                            "shippingAddresses": [],
                            "billingProfiles": [],
                            "referrerDomain": null,
                            "utmSource": null,
                            "utmCampaign": null,
                            "type": null,
                            "accessGroups": [],
                            "fraudScore": null,
                            "fraudLabel": null
                        },
                        "webIdentity": null,
                        "financial": {
                            "total": 0,
                            "totalPostRefunds": null,
                            "refunds": null,
                            "creditsApplied": 0,
                            "subtotal": 0,
                            "totalDiscount": 0,
                            "cartDiscount": null,
                            "totalTax": 0,
                            "totalShippingCost": 0,
                            "totalHandlingCost": 0,
                            "totalProductPrice": 0,
                            "discountsApplied": null,
                            "taxesApplicable": null,
                            "shippingAndHandling": null,
                            "checkoutTotal": 0,
                            "discountableTotal": 0,
                            "discountableTotalPostRefunds": null,
                            "maximumRefundable": null
                        },
                        "billingProfileUsed": null,
                        "shippingAddress": {
                            "createdAt": null,
                            "updatedAt": null,
                            "id": null,
                            "importSource": null,
                            "importRef": null,
                            "firstName": "Fahad",
                            "lastName": "Ghani",
                            "email": null,
                            "company": null,
                            "phone": "8057002000",
                            "fax": null,
                            "street1": "1045 Bryant Street",
                            "street2": null,
                            "city": "San Francisco",
                            "state": "CA",
                            "zip": "94103",
                            "country": "United States",
                            "residential": true,
                            "unitedStates": true
                        },
                        "gift": null,
                        "totalWeight": null,
                        "paymentProcessor": null,
                        "shippingOption": "191",
                        "numberOfItemsEligibleForShipping": 3,
                        "discount": 0,
                        "totalItems": 3,
                        "availableShippingOptions": [
                            {
                                "id": 191,
                                "site": "wagento",
                                "name": "Standard",
                                "description": "",
                                "serviceLevel": "GROUND",
                                "shippingMethods": [
                                    {
                                        "id": 4,
                                        "name": "USPS First Class Mail",
                                        "serviceLevel": "GROUND",
                                        "carrier": "USPS",
                                        "symphonyShippingCode": "USPS.FIRST.CLASS.MAIL",
                                        "isInternational": false
                                    },
                                    {
                                        "id": 7,
                                        "name": "FedEx Ground",
                                        "serviceLevel": "GROUND",
                                        "carrier": "FEDEX",
                                        "symphonyShippingCode": "FEDEX.GROUND",
                                        "isInternational": false
                                    },
                                    {
                                        "id": 8,
                                        "name": "FedEx Smartpost Standard",
                                        "serviceLevel": "GROUND",
                                        "carrier": "FEDEX",
                                        "symphonyShippingCode": "FEDEX.SMARTPOST.STANDARD",
                                        "isInternational": false
                                    },
                                    {
                                        "id": 9,
                                        "name": "FedEx Smartpost Priority",
                                        "serviceLevel": "GROUND",
                                        "carrier": "FEDEX",
                                        "symphonyShippingCode": "FEDEX.SMARTPOST.PRIORITY",
                                        "isInternational": false
                                    },
                                    {
                                        "id": 10,
                                        "name": "USPS Priority",
                                        "serviceLevel": "GROUND",
                                        "carrier": "USPS",
                                        "symphonyShippingCode": "USPS.PRIORITY",
                                        "isInternational": false
                                    },
                                    {
                                        "id": 16,
                                        "name": "USPS Express Mail International",
                                        "serviceLevel": "GROUND",
                                        "carrier": "USPS",
                                        "symphonyShippingCode": "USPS.EXPRESS.MAIL.INTERNATIONAL",
                                        "isInternational": true
                                    },
                                    {
                                        "id": 17,
                                        "name": "USPS First-Class Mail International",
                                        "serviceLevel": "GROUND",
                                        "carrier": "USPS",
                                        "symphonyShippingCode": "USPS.FIRSTCLASS.MAIL.INTERNATIONAL",
                                        "isInternational": true
                                    },
                                    {
                                        "id": 19,
                                        "name": "USPS Media Mail Single-Piece",
                                        "serviceLevel": "GROUND",
                                        "carrier": "USPS",
                                        "symphonyShippingCode": "USPS.MEDIA.MAIL.SINGLEPIECE",
                                        "isInternational": false
                                    },
                                    {
                                        "id": 22,
                                        "name": "FedEx Express Saver (Economy)",
                                        "serviceLevel": "GROUND",
                                        "carrier": "FEDEX",
                                        "symphonyShippingCode": "FEDEX.EXPRESS.SAVER.ECONOMY",
                                        "isInternational": false
                                    }
                                ],
                                "deliveryEstimate": null,
                                "shippingOptionGroup": null,
                                "state": "PUBLISHED",
                                "priority": 4,
                                "pricing": null
                            },
                            {
                                "id": 192,
                                "site": "wagento",
                                "name": "Expedited",
                                "description": "",
                                "serviceLevel": "TWO_DAY",
                                "shippingMethods": [
                                    {
                                        "id": 2,
                                        "name": "FedEx 2-Day Shipping",
                                        "serviceLevel": "TWO_DAY",
                                        "carrier": "FEDEX",
                                        "symphonyShippingCode": "FEDEX.2DAY.SHIPPING",
                                        "isInternational": false
                                    },
                                    {
                                        "id": 18,
                                        "name": "USPS Priority Mail International",
                                        "serviceLevel": "TWO_DAY",
                                        "carrier": "USPS",
                                        "symphonyShippingCode": "USPS.PRIORITY.MAIL.INTERNATIONAL",
                                        "isInternational": true
                                    },
                                    {
                                        "id": 21,
                                        "name": "USPS Library Mail Single-Piece",
                                        "serviceLevel": "TWO_DAY",
                                        "carrier": "USPS",
                                        "symphonyShippingCode": "USPS.LIBRARY.MAIL.SINGLEPIECE",
                                        "isInternational": false
                                    }
                                ],
                                "deliveryEstimate": null,
                                "shippingOptionGroup": null,
                                "state": "PUBLISHED",
                                "priority": 4,
                                "pricing": null
                            }
                        ],
                        "checkoutLineItems": [
                            {
                                "createdAt": 1417291748000,
                                "updatedAt": 1417291748000,
                                "id": 1778092,
                                "importSource": null,
                                "importRef": null,
                                "product": {
                                    "createdAt": 1346172652000,
                                    "updatedAt": null,
                                    "id": 12345,
                                    "importSource": "EXTERNAL-ACME",
                                    "importRef": "101740705",
                                    "name": "LiceLogic Household Lice Protection Spray - Peppermint",
                                    "code": null,
                                    "defaultPriceInCents": 0,
                                    "specializedPriceInCents": null,
                                    "msrpInCents": 3229,
                                    "subscriptionPrice": null,
                                    "ordinal": 0,
                                    "tagLine": "",
                                    "mainImage": {
                                        "createdAt": null,
                                        "updatedAt": null,
                                        "id": 80492,
                                        "importSource": null,
                                        "importRef": null,
                                        "type": "IMAGE",
                                        "ref": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                                        "ordinal": 1,
                                        "primary": true,
                                        "meta": [
                                            {
                                                "createdAt": null,
                                                "updatedAt": null,
                                                "id": null,
                                                "importSource": null,
                                                "importRef": null,
                                                "key": "medium",
                                                "value": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                                                "displayValue": null,
                                                "keyType": "IMAGE_SIZE",
                                                "keyDescription": "location of medium sized image",
                                                "site": null,
                                                "priority": null
                                            },
                                            {
                                                "createdAt": null,
                                                "updatedAt": null,
                                                "id": null,
                                                "importSource": null,
                                                "importRef": null,
                                                "key": "large",
                                                "value": "//dbj5iadmj0fg6.cloudfront.net/externalImport/cdn.shopify.com/s/files/1/0178/3722/products/LL_-_793573878021_-_LiceLogic_Household_Lice_Protection_Spray_-_Peppermint_-_32_oz_-_Hi_Res.jpg",
                                                "displayValue": null,
                                                "keyType": "IMAGE_SIZE",
                                                "keyDescription": "location of large sized image",
                                                "site": null,
                                                "priority": null
                                            }
                                        ],
                                        "dimension": null,
                                        "isExternal": null
                                    },
                                    "vendorSku": null,
                                    "globalSku": null,
                                    "cost": 2000,
                                    "maxPrice": 2229,
                                    "minPrice": 2229,
                                    "shippingOptions": null,
                                    "productPricing": [
                                        {
                                            "label": "Retail",
                                            "price": 0,
                                            "availability": "AVAILABLE"
                                        }
                                    ],
[...]
